extends layout

block content
    .row
        #socialmedia.col-md-8.noPadding
            #facebook.col-md-4.noPadding
            #twitter.col-md-4.noPadding
            #instagram.col-md-4.noPadding
        #emails.col-md-4.noPadding
            .row#gmail
                .col-md-12.noPadding
            .row#outlook
                .col-md-12.noPadding