extends layout

block content
    .row
        #socialmedia.col-md-8.noPadding
            #twitter.col-md-6.noPadding
                ul#feed
                    li Twitter Feed
       
                .login.button.btn.btn-default(type='submit')
                    a(href='http://127.0.0.1:3000/auth/twitter') Login to Twitter
                #refreshTwitter.button.btn.btn-default(type='submit')
                    a(href='http://127.0.0.1:3000/') Refresh
                    
            #instagram.col-md-6.noPadding
        #emails.col-md-4.noPadding
            .row#gmail
                .col-md-12.noPadding
                    .login.button.btn.btn-default(type='submit')
                        a(href='auth/google') Login to Gmail
            .row#outlook
                .col-md-12.noPadding