extends layout

block content
    .row
        #socialmedia.col-md-8.noPadding
            #twitter.col-md-6.noPadding
                script.
                    window.twttr = (function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                        t = window.twttr || {};
                        if (d.getElementById(id)) return t;
                        js = d.createElement(s);
                        js.id = id;
                        js.src = "https://platform.twitter.com/widgets.js";
                        fjs.parentNode.insertBefore(js, fjs);
                        t._e = [];
                        t.ready = function(f) {
                        t._e.push(f);
                        };
                        return t;
                        }(document, "script", "twitter-wjs"));
                        
                a.twitter-timeline(href='https://twitter.com/TwitterDev', 
                    data-chrome='nofooter noborders',
                    data-height='100%',
                    data-width='100%')
                    
            #instagram.col-md-6.noPadding
        #emails.col-md-4.noPadding
            .row#gmail
                .col-md-12.noPadding
            .row#outlook
                .col-md-12.noPadding