html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body > .container-fluid {
    height: 100%;
}

body > .container-fluid > .row {
    height: 100%;
}
.col-md-8 {
    height: 100%;
}

.col-md-6 {
    height: 100%;
}

.col-md-4 {
    height: 100%;
}

#twitter {
    background-color: white;
}

#instagram {
    background-color: purple;
}

.noPadding {
    padding-left: 0;
    padding-right: 0;
}

.wrapper {
    position: absolute;
}

#gmail {
    height: 50%;
    background-color: orange;
    overflow-y: scroll;
}

#outlook {
    height: 50%;
    background-color: yellow;
    overflow-y: scroll;
}